@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:900,400,600,800,500,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6660cbd9bcbab0917674f787.6660cbdabcbab0917674f78a.ifllOMe.hcp.png");

@font-face {
  font-family: "Figma Hand-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/home_FILL0_wght400_GRAD0_opsz24.svg");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
