:root { 
  --black: #000000;
  --black-2: #000000b2;
  --black-3: #0000001a;
  --black-4: #000000cc;
  --black-5: #00000080;
  --christi: #51b800;
  --white: #ffffff;
  --white-2: #ffffffe6;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 13px;
  --font-size-xl: 18px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 64px;
 
  --font-family-figma_hand-bold: "Figma Hand-Bold", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
.inter-bold-white-15px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-15px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-15px {
  color: var(--black-4);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-15px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-13px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-black-13px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-black-15px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-black-16px {
  color: var(--black-5);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-black-15px-3 {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.figmahand-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-figma_hand-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
